
body {
    background-color: #F6F6FA;
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    padding-bottom: 40px;
    font-family: "Montserrat", sans-serif;
    
    /* padding: 40px 40px 40px 40px; */
}

ul, ol {
    margin-top: 0px;
    margin-bottom: 0px;
}

 
.wrapper {
    background-color: #fff;
    display: flex;
    flex-direction: row-reverse;
}

/* main-content */
.main-content {
    padding-left: 88px;
    padding-top: 80px;
    padding-right: 40px;
    padding-bottom: 80px;
    box-sizing: border-box;
}


/* sidebar */
.sidebar {
    background: #e0ebfe;
    padding-top: 40px;
    padding-bottom: 40px;
    box-sizing: border-box;
    width: 370px;
}

.sidebar-content {
    padding-left: 40px;
    padding-top: 40px;
    padding-right: 40px;
    box-sizing: border-box;
}

/* contacts */
.contatcs-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.contacts-type {
    color: #161d2a;
    font-size: 14px;
    font-weight: 700;
    line-height: 171%;
    margin-right: 8px;
}

.contacts-link {
    color: #2979ff;
    font-size: 14px;
    font-weight: 400;
    line-height: 24px;
    text-decoration-line: underline;
}

.contacts-item {
    margin-top: 0px;
    margin-bottom: 4px;
}

.contacts-container {
    margin-bottom: 40px;
}

/* skills container */
.skills-container {
    margin-bottom: 40px;
}

.skills-title {
    color: #161d2a;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    margin-top: 0px;
    margin-bottom: 8px;
}

.skills-list {
    padding-left: 16px;
}

.skills-list-item {
color: #161d2a;
font-size: 14px;
font-weight: 400;
line-height: 24px;
}

/* main content */
.my-profession {
    color: #000;
    font-size: 14px;
    font-weight: 700;
    line-height: 17px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-name {
    color: #000;
    font-weight: 700;
    font-size: 45px;
    line-height: 55px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.my-descr {
    color: #595959;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.my-info {
    margin-bottom: 40px;
}

/* my projects style */
.my-projects-title {
    color: #000;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.my-projects-item {
    color: #000;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
}

.my-projects-list {
    padding-left: 16px;
}

.my-projects-item-link {
    color: #005fff;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
    text-decoration-line: underline;
}

.my-projects-item-tech {
    color: #595959;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}

.my-projects-container {
    margin-bottom: 40px;
}


/* work experience */
.work-experience-title {
    color: #000;
    font-weight: 700;
    font-size: 22px;
    line-height: 27px;
    margin-top: 0px;
    margin-bottom: 8px;
}

.work-experience-company {
    color: #000;
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 12px;
}

.company-name {
    color: #6d9bf5;
    font-size: 16px;
    line-height: 20px;
    margin-top: 0px;
    margin-bottom: 12px;
}
.work-experience-period {
    color: #a8a8a8;
    font-weight: 400;
    font-size: 12px;
    line-height: 15px;
    margin-bottom: 8px;
}

.work-experience-period-separator {
    color: #000;
}


.work-experience-duties-list {
    padding-left: 16px;
}

.work-experience-duties-item {
    color: #595959;
    font-weight: 400;
    font-size: 14px;
    line-height: 24px;
}
.work-experience-container {
    margin-bottom: 12px;
}